@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: white;
}
.header {
    margin: 50px 0px 60px 100px;
  }
.container{
    display: flex;
    margin: 0 100px;
}
.illustration-mockup{
    width: 100%;
}
.intro{
    flex-shrink: 2;
    line-height: 1.5;
    margin-top: 0;
    margin-left: 50px;
}
.intro__header{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px; 
}
.intro__register{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(257, 40%, 49%);
  background-color: #ffffff;
  width: 40%;
  border-radius: 50px;
  border: none;
  box-shadow: 5px 5px 10px hsl(257, 41%, 34%);
  padding: 15px 20px 15px 30px;
  margin-top: 10px;
  cursor: pointer;
}
.intro__register:hover{
    color: white;
    background-color: blueviolet;
}

.footer{
    margin-top: 25px;
    margin-right: 100px;
}
.social-links{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-link{
    color: white;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
}
.social-link:hover{
    background-color: blueviolet;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: #ffffff;
  }

@media all and (max-width: 768px) {
    body {
      background: hsl(257, 40%, 49%) url('images/bg-mobile.svg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
    }
    .header-logo {
        width: 40%;
      }
    .container {
        flex-direction: column;
        margin: 0 50px;
        text-align: center;
    }
    .intro {
        margin-left: 0px;
      }
      p{
          text-align: center;
      }
      .footer {
        margin-top: 75px;
        margin-right: 0px;
      }
      .social-links {
        justify-content: center;
      }
    }
    

